<%- include('partials/header'); %>

    <p>
        <%= user.username %>,these are your servers
    </p>
    <div>servers:</div>

    <%- include('partials/guilds'); %>
    




    <h1>example text</h1>
    <button class="btn btn-danger">apachurrale</button>

<%- include('partials/footer'); %>
