<%- include('partials/header'); %>

<div class="text-light" style="height: 95vh; background-color: #212121">
    <div class="container">
        <section class="py-5 text-center container">
            <div class="row py-5">
                <div class="col-md-8 col-lg-6 mx-auto">
                    <h1>Login</h1>
                    <p class="lead text-muted">
                        texto de ejemplo
                    </p>
                    <a href="/auth/login" class="btn btn-warning m-2">Login with Discord</a>
                    <a href="/auth/login" class="btn btn-danger">Login with Google</a>
                </div>
            </div>
        </section>
    </div>
</div>

<%- include('partials/footer'); %>